
body {
    margin: 10px 13px;
    font-size: 14px;
}

select {
    font-size: 14px;
    vertical-align: baseline;
    margin-top: -2px;
}

#main-div {
    display: inline-block;
}

#radios-div {
    white-space: nowrap;
}

#main-div > div {
    margin-bottom: 14px;
}

#selected-sets-label {
    margin-bottom: 10px;
    vertical-align: top;
}

#radios-div > div {
    height: 21px;
}

.mtg-set-icon {
    width: 15px;
    max-height: 15px;
    margin: 0 2px;
}

button {
    float: right;
    background-color: #111;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
}
button:disabled {
    background-color: #AAA;
    cursor: not-allowed;
}

a {
    color: inherit;
}

#feedback-link {
    position: absolute;
    bottom: 7px;
}
